*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    font-size:18;
    font-family:Poppins,sans-serif;
    line-height:1.55;
    color:black;
}
body{
    background-image: url(/genshin-bg.jpg);
    background-size:cover;
}
header{
    display: flex;
    justify-content: space-between;
}
nav ul{
   
    font-size:20px;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    gap: 2rem;
}
.genshinlogo a{
    text-decoration: none;
    text-align: center;
    color:rgb(0, 0, 0,0.4);
}
.genshinlogo a:hover{
    color: aliceblue;
}
.genshinlogo{
    width: 85%;
    margin: 0 auto;
    margin-top: 6rem;
    text-align: center;
    padding: 3rem;
}
.genshinlogo h1{
    width: 45%;
    font-size:50px;
    background-image: url(/index-modified.png);
    background-size:contain;
    background-repeat: no-repeat;
	background-position: left top;
	margin-top: -1px;
    display: inline-block;
    position: relative;
    bottom: 2rem;
}
.contactinfo h1{
    font-size:50px;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}
.contactinfo .info a
{
    font-size:20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

}
.contactinfo p{
    font-size:30px;
    text-align: center;
}
nav ul{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
}
nav ul img{
    width:125%;
    gap: 4rem;
}