*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    font-size:18;
    font-family:Poppins,sans-serif;
    line-height:1.55;
    color:black;
}
body{
    background-image: url(/genshin-impact-xiao-genshin-impact-lumine-genshin-impact-paimon-zhongli-genshin-impact-hd-wallpaper-preview.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
}
nav ul{
   
    font-size:20px;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    gap: 2rem;
}
.genshinlogo a{
    text-decoration: none;
    text-align: center;
    color:white;
}
.genshinlogo a:hover{
    color: rgb(8, 11, 14);
}
.genshinlogo{
    width: 85%;
    margin: 0 auto;
    margin-top: 6rem;
    text-align: center;
    padding: 3rem;
}
.genshinlogo h1{
    width:40%;
    font-size:50px;
    background-image: url(/index-modified.png);
    background-size:contain;
    background-repeat: no-repeat;
	background-position: left top;
	margin-top: -1px;
    display: inline-block;
    position: relative;
    bottom: 2rem;
}

.container.table{
    background-color: rgba(14, 6, 92, 0.6);
    width:80%;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding:3rem;
    border-radius: 30px;
}
.container.table p{
    font-size:60px;
    color: white;
    text-align: center;
}
table{
    width:90%;
    display: flex;
    margin: 0 auto;
    margin-top:3rem;
    margin-bottom: 4rem;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 10px;
    border-collapse: collapse;
}
table tr td{
    font-size:20px;
    font-weight: bold;
    color: white;
    padding: 5rem 5rem 0 8rem;
}
table tr a{
    text-decoration: none;
    color: white;
}
table tr a:hover{
    text-decoration: none;
    color: rgb(5, 5, 5);
}
table tr img{
    width:240%;
}
table tr .charctername{
    font-size:20px;
    display:inline;
    text-align: left;
}
.tablerows{
    margin-bottom:3rem;
}
.table a{
    list-style:none;
    margin: 0 auto;
    text-decoration: none;
    color: white;
}
.table nav{
    display: flex;
    justify-content: center;
}
.top{
    text-decoration: none;
    color: white;
    font-size:10px;
}