*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    font-size:18;
    font-family:Poppins,sans-serif;
    line-height:1.55;
    color:black;
}
body{
    background-image: url(/htmls/images/genshin-bg.jpg);
    background-size:cover;
}
header{
    display: flex;
    justify-content: space-between;
}
nav ul{
   
    font-size:20px;
    list-style: none;
    display: flex;
    justify-content:flex-end;
    gap: 2rem;
}
.genshinlogo a{
    text-decoration: none;
    text-align: center;
    color:rgb(0, 0, 0,0.4);
}
.genshinlogo a:hover{
    color: aliceblue;
}
.genshinlogo{
    width: 85%;
    margin: 0 auto;
    margin-top: 6rem;
    text-align: center;
    padding: 3rem;
}
.genshinlogo h1{
    width:40%;
    font-size:50px;
    background-image: url(/htmls/images/index-modified.png);
    background-size:contain;
    background-repeat: no-repeat;
	background-position: left top;
	margin-top: -1px;
    display: inline-block;
    position: relative;
    bottom: 2rem;
}
.maindescription{
    width: 85%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255,0.6);
    text-align: center;
    padding: 3rem;
    border-radius:15px;
}
.maindescription img{
    width: 30%;
}

.maindescription p{
    font-weight: bold;
    font-family: arial;
    font-size:20px;
    color: rgb(2, 9, 88);
}
.maindescription a{
    text-decoration:none;
}
.maindescription a:hover{
    text-decoration:none;
    color: white;
}
.description{
    font-size:35px;
    margin-top: 4rem;
    display:inline-block;
    width: 70%;
}